<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mastermind - Playing</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/game.css">
    <script src="/js/script.js"></script>
</head>

<body>
  <div id='board'>
  </div>
  <div id="stats">
  <p>
    <%=board%>
  </p>
  <form>
    <input type="number" name="c1" min="0" max="7">
    <input type="number" name="c2" min="0" max="7">
    <input type="number" name="c3" min="0" max="7">
    <input type="number" name="c4" min="0" max="7">
    <input type="submit" value="Submit">  </form> 
  </div>
  <div onclick="window.location.href='/game'">restart game</div>
</body>
</html>